.clear, .clearfix {

    content: ' ';
    clear: both;
}

.st-clear-after {

    &:after {

        content: "";
        display: block;
        height: 0;
        width: 0;
        font-size: 0;
        clear: both;
    }
}
.st-img {

    width: 100%;
}

.st-thumbnail {

    width: auto;
}

.st-image {

    width: 100%;
    height: 100%;   

    img {
        
        .transition(all 1s ease);
    }

    &:hover  {

        img {
            
            border: 1px solid #ddd;
            .box-shadow(1px 1px 3px rgba(0,0,0,2));
            transform: scale(2.5) translate(-150px,0px);
        }
    }
}

.st-center {

    margin: 1em auto;
    text-align: center;
}

.st-clear {

    content: " ";
    display: block;
    clear: both;
    height: 0;
    font-size: 0;
}

.st-padding5 {

    padding: 5px;
}

.st-margin5 {

    margin: 5px;
}

.st-margin-top-15 {

    margin-top: 15px;
}

.st-margin-top-45 {

    margin-top: 45px;
}

.st-left {

    float: left;
    width: 50%;
}

.st-right {

    float: right;
    width: 50%;
}

.st-copy {

    font-size: 9px;
    color: #333;
    margin-top: 10px;
    margin-bottom: 20px;
    z-index: 0;
}

.st-overlay {

    position: absolute;
    top: 0;
    left: 0;
    z-index: 6;
    width: 100%;
    min-width: 100%;
    height: 100%;
    min-height: 100%;
    background-color: rgba(0,0,0,.5);
}